<!DOCTYPE html>
<!-- comment area -->
<html>
    <head>
        <style>
            h1 { 
                color: blue;
                font-size: 24px;
                text-align: center;
            }
            body { 
                background-color: gray;
            }
            h2.renkli{
                color: red;
            }
            .yanyana{display: flex;}

            .yanyana a img{margin-right: 200px;}

        </style>

    </head>
        <body>
            <h1>BASLIK</h1>
            
            <p>bu bir paragraftir, ilk defa programlama yapiyorum, <strong> denemedir </strong> <em>web</em>  <strong><em>test</em></strong> </p>
            <p>m <sup>2</sup></p>
            
            <h2 class="renkli"> Link Ornegi</h2>
            <a href="https://sourceforge.net/projects/xampp/" target="_blank">bu bir link</a>

            
<div class="yanyana">
    <h2>Reslimli Link</h2>
    <a href="https://tr.wikipedia.org/wiki/istanbul" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Bosphorus_Bridge_%28235499411%29.jpeg/536px-Bosphorus_Bridge_%28235499411%29.jpeg"  title="Istanbul" alt="resim">

    </a>

    <h2> Sirasiz Liste Ornegi</h2>
    <ul>
        <li>Liste Ornek 1</li>
        <li>Liste Ornek 2</li>
        <li>Liste Ornek 3</li>
        <li>Liste Ornek 4</li>
    </ul>

    <h2>Sirali Liste Ornegi</h2>
    <ol>
        <li>Liste Ornek 1</li>
        <li>Liste Ornek 2</li>
        <li>Liste Ornek 3</li>
        <li>Liste Ornek 4</li>
    </ol>

</div>
         

           


        
        </body>

    
</html>    
